@font-face {
  font-family: "BarlowSemiCondensed-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/BarlowSemiCondensed-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "BarlowSemiCondensed-Regular";
  font-weight: 500;
}

@mixin boxy {
  border-radius: 12px;
}

:root {
  --violet: hsl(263, 55%, 52%);
  --grey: hsl(217, 19%, 35%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(219, 29%, 14%);
  --theme: hsl(0, 0%, 81%);
}
body {
  font-family: sans-serif;
  width: 80%;
  background-color: var(--theme);
  font-size: 13px;

  margin: 50px auto;

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  // [class^="box-"] {
  //   background-color: skyblue;
  //   display: grid;
  //   place-items: center;
  // }
  .container {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "A A A A    B B E E"
      "C C D D    D D E E";

    .box-1 {
      position: relative;
      grid-area: A;
      background-color: var(--violet);
      background-image: url("./images/bg-pattern-quotation.svg");
      background-repeat: no-repeat;
      background-size: 100px 100px;
      background-position: 85% 0%;
      color: white;

      @include boxy;
    }

    .box-2 {
      grid-area: B;
      background-color: var(--grey);
      color: white;
      @include boxy;
    }
    .box-3 {
      grid-area: C;
      background-color: var(--white);
      @include boxy;
    }
    .box-4 {
      grid-area: D;
      background-color: var(--dark);
      color: white;
      @include boxy;
    }
    .box-5 {
      grid-area: E;
      background-color: var(--white);

      @include boxy;
    }

    .text {
      margin: 25px;

      .title {
        display: grid;
        grid-template-areas:
          "A B"
          "A C ";

        grid-template-columns: 60px 1fr;

        .img {
          height: 45px;
          width: 45px;
          border: 3px solid rgba(255, 255, 255, 0.5);

          border-radius: 50%;
          grid-area: A;
        }

        p.name {
          font-weight: 600;
        }
        p.status {
          font-weight: 500;
          opacity: 0.5;
        }
      }

      .text1 {
        margin-top: 20px;
        font-weight: 600;
      }

      .text2 {
        margin-top: 20px;
        font-weight: 500;
        opacity: 0.7;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    .container {
      grid-template-areas:
        "A"
        "B"
        "C"
        "D"
        "E";
    }
  }
}
